@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>Ticket</h2>
<h3>Para entrar em contato.</h3>

<address>
    Endereço<br />
    Ribeirão Preto, Parque do Servidores<br />
    Tel: (xx) xxxx-xxxx
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:diegorp2013@hotmail.com">diegorp2013@hotmail.com</a><br />
    <strong>Whatsapp:</strong> (16) 98104-3644
</address>
